services:
  postgres:
    image: postgres:16
    container_name: recipe-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: recipes
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - shared-db

volumes:
  postgres_data:

networks:
  shared-db:
    external: true